body {
  margin: 0;
  font-family: "courier New", Courier, monospace;
  background-color:#d6ae7b;
  background: linear-gradient(89deg, #eacda3 0%, #d6ae7b 100%);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


