body {
  margin: 0;
  font-family: "courier New", Courier, monospace;
  background-color:black;
  background: linear-gradient(89deg,  #151a1d 0%, #2980b9 100%);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


