body {
  margin: 0;
  font-family: "courier New", Courier, monospace;
  background: linear-gradient(89deg,  #d6ae7b 0%,#151a1d 100%);

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


